
/* 
    Created on : Feb 11, 2021, 5:01:32 PM
    Author     : Julia
*/

main {
  font-family: Arial;
  border: 2px solid var(--header-text);
  border-radius: 5px;
  margin: 1.5rem;
  padding: 1.5rem;
  height: calc(100vh - 6rem);
  width: calc(100vw - 7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #30302f;
}
.style {
  width: 50%;
  height: 50%;
  background-color: white;
  text-align: center;
  line-height: 1.5rem;
  align-content: center;
}
main li {
  list-style: none;
}
main button {
  border: none;
  margin-left: 20px;
  width: 100px;
  text-align: center;
  height: 30px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  outline: none;
}
.mystyle {
  transition: all 0.5s ease-in-out;
  background-color: #30302f;
  color: white;
}

